@import
url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

/* Applies to all elements */
*{
    box-sizing: border-box;
   
}

.fa {
    padding: 10px;
    width: auto;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
    ;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

.episode_Widget {
    border-radius: 25px;
    background: #b03a3a;
    padding: 20px; 
    margin: 2px;
    width: 550px;
    height: 200px;  
    margin: 10px;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    position:relative;
    grid-template-columns: 1fr 2.5fr;
  }

  .episode_Widget:last-child {
    align-self: flex-end;
  }
.flex-container{
    display: flex;
    background-color: #2196F3;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;

}
.episode_Widget img{
    float: left;
    padding-right: 7px;
    padding-left: 7px;
    
}

.episode_duration img{
    text-align: right;
    top: -17px;
    right: 10px;
    font-size: 15px;
    float: none;
    
}
.episode_Widget p{
    color: white;
    font-size: 12px;
    text-align: left;
}

.episode_Widget h2{
    font-size: 20px;
    color: black;
    font-weight: bold;
    padding: 0px 2px 0px 2px;
}

.episode_Widget a{
    font-size: 20px;
    color: black;
    font-weight: bold;  
}
.episode_Widget h6{
    font-size: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    margin: 10px;

}
.episode_DateTime {
    font-size: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    margin: 10px; 
}
.twitter-follow-button{
    display: inline-block;
    vertical-align:top;
}
.grd_3point{
  display: grid;
  width: 100%;
  height: 110%;
  margin: 5px;
  border-spacing: 10px;
  border-spacing: 10px 5px;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: auto auto
}
.span1{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    height: 200px;

}
.span2{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}
.grd_col {
  padding: 14px;
  border-radius: 15px; 
  margin:  10px;
  
}

.floatingBubble{
    padding: 14px;
    border-radius: 15px; 
    background-color: #292929;
    margin : 15px;
}
.floatingBubble h1{
    margin: 0px;
    margin-bottom: 10px;
}
.socialMedia_link{
    background-color: white; 
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-size: cover;
}

.socialMedia_Twitter{
    padding: 20px;
    border: 4px solid transparent;
    background-image: url(../img/twitterIcon.svg);
}
.socialMedia_Facebook{
    padding: 24px;
    background-image: url(../img/facebookIcon.svg);
}
.socialMedia_Instagram{
    padding: 24px;
    background-image: url(../img/instagramIcon.svg);
}
  
.row{
    display: table;
    width: 100%;
}
body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-color: #171717;
}
img{
    max-width: auto;
    max-height: auto;    /* This was added after */
}

.clearfix::after,
section::after,
footer::after{
    content:'';
    display:block;
    clear:both
}
.container{
    width: 95%;
    margin: 0 auto;
    max-width: 70em;
    margin-top: -5%;
}

.twitter-timeline{
    margin: 0;
    height: 100%;
    width:  100%;
}


body{
    margin:0px;
padding:0px;
width:100%;
}
@media(min-width: 40rem){
 
}



/*Buttons*/
.button{
    display: inline-block;
    font-size: 1.15rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.75em;
}

.button-small{
    font-size: .7rem;
    font-weight: 700;
}

.button-accent{
    color: #00ff6c;
    border-color: #00ff6c;
}
/*Typeography
===================*/

.logo{
    height: 5.5em;
    width: 6.5em;
    border-radius: 50%;
}
h2{
    color:  white;
    font-weight: 300;
    font-size: 1.7rem;
    margin-top: 0;
    margin-bottom: 0px;
}

.title{
    font-size: 2.5em;
    
    font-weight: 900;
    
}

.title span{
    font-weight: 300;
    display: block;
    font-size: .6em;
}
.title-cta{
    margin: 0 0 .5em;
}

.unstyled-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p{
    margin-top: 0;
    line-height: 1.5;
}

p:last-of-type{
    margin-bottom:  0;
}

@media(min-width: 0px){
    .flex-container{
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 1;
        vertical-align: middle;
        width: 95vw;

    }
    .grd_3point{
        grid-template-columns: 1fr;
        width: 95vw;

    }
    .span1{
        grid-row-start: 1;
        grid-row-end: 1;
        height: 200px;
    
    }
    .span2{
        visibility: hidden;
        display: none;
        grid-row-start: 2;
        grid-row-end: 2;

    }
    .floatingBubble{
        width: 95vw;
    }
    p{
        font-size:  1.2rem;
    }

    .title{
        font-size: 3.7rem;
    } 
    .episode_Widget{
        width: 95vw;
        height: min-content;
    }
    .container span{
        display: none;
    }
}








/*header
===================*/

header{
    position: absolute;
    left: 0;
    right: 0;
    margin: 1em;
}

/* Bulleted List Styles */
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Bullet in bulleted list */
nav li{
    display: inline-block;
    margin: 1em;
}

/* Hyperlink styles */
nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8em;
    padding: .5em;
    color: #FFF
}
nav a:hover
nav a:focus{
    color: #DDD;
}

@media(min-width: 60rem){

}

/*home-hero
===================*/




.header-title{
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    max-height: 600px;
    background-position:  center top;
    background-repeat: no-repeat;
    color:#FFF;
    background-color: #000;
    display: block;
    
    
}

@media(min-width: 10em){
    .header-title{
        height: 100vh;
        padding-top: 35vh;
    }
}

/*home-about
===================*/


@media(min-width: 25rem){
    h1{
        font-size: 2rem;;
    }

    .home-about-textbox h1{
        top:.6em;
        padding:0 .325em;
    }
}


/*Portfolio
===================*/

.portfolio{
    margin:3em 0 0;
}

.port-item{
    margin: 0;
    position: relative;
}

.port-item img{
    display: block;
    width: 100%;
}

.port-desc{
    position:absolute;
    z-index: 100;
    bottom: 0em;
    left: 0em;    
    right: 0em;
    color: white;
    background: rgba(0,0,0,.6);
    padding: 1em;
    padding-bottom: 2em;   
}

.port-desc p{
    margin: 1em;
}





 
/*CTA
===================*/

.cta{
    background-color: #00ff6c;
    padding: 5em 0;
}

/*Footer
===================*/

footer{
    background: #232323;
    color: #fff;
    text-align:  left;
    padding: 5em 0;
}